---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v1/meta/crypto-exchanges?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
      x-polygon-deprecated-new-location:
      - https://polygon.io/docs/crypto/get_v3_reference_exchanges
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1,"market":"crypto","name":"Coinbase","url":"https://www.coinbase.com","tier":"crypto","locale":"G"},{"id":2,"market":"crypto","name":"BITFINEX","url":"https://www.bitfinex.com/","tier":"crypto","locale":"G"},{"id":6,"market":"crypto","name":"Bitstamp","url":"https://www.bitstamp.net/''","tier":"crypto","locale":"G"},{"id":10,"market":"crypto","name":"HitBTC","url":"https://hitbtc.com/","tier":"crypto","locale":"G"},{"id":23,"market":"crypto","name":"Kraken","url":"https://www.kraken.com/en-us/","tier":"crypto","locale":"G"}]'
  recorded_at: Fri, 28 Nov 2025 18:25:25 GMT
recorded_with: VCR 5.1.0
