---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v2/snapshot/locale/global/markets/crypto/gainers?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"NOT_AUTHORIZED","request_id":"ceb398a9b2c66070091da15e119782fd","message":"You
        are not entitled to this data. Please upgrade your plan at https://polygon.io/pricing"}'
  recorded_at: Fri, 28 Nov 2025 18:25:20 GMT
recorded_with: VCR 5.1.0
