---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v1/last/crypto/BTC/USD?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"NOT_AUTHORIZED","request_id":"493afc742208304a1d64798182676bfa","message":"You
        are not entitled to this data. Please upgrade your plan at https://polygon.io/pricing"}'
  recorded_at: Fri, 28 Nov 2025 19:04:35 GMT
recorded_with: VCR 5.1.0
