---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v1/historic/crypto/BTC/USD/2019-04-28?apiKey=<API_KEY>&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"NOT_AUTHORIZED","request_id":"5df48cdc7f247e47749d2e624fab04e3","message":"You
        are not entitled to this data. Please upgrade your plan at https://polygon.io/pricing"}'
  recorded_at: Fri, 28 Nov 2025 18:25:25 GMT
recorded_with: VCR 5.1.0
