---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v1/conversion/AUD/USD?amount=0.252e3&apiKey=<API_KEY>&precision=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"NOT_AUTHORIZED","request_id":"b7ff4f8272743b18e32c2bf16e35c170","message":"You
        are not entitled to this data. Please upgrade your plan at https://polygon.io/pricing"}'
  recorded_at: Fri, 28 Nov 2025 19:04:33 GMT
recorded_with: VCR 5.1.0
