---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v1/historic/forex/AUD/USD/2019-04-28?apiKey=<API_KEY>&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"NOT_AUTHORIZED","request_id":"6240ed70b427865203f3dc8bcbc1fa72","message":"You
        are not entitled to this data. Please upgrade your plan at https://polygon.io/pricing"}'
  recorded_at: Fri, 28 Nov 2025 19:04:33 GMT
recorded_with: VCR 5.1.0
