---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v1/marketstatus/now?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
    body:
      encoding: ASCII-8BIT
      string: '{"afterHours":true,"currencies":{"crypto":"open","fx":"open"},"earlyHours":false,"exchanges":{"nasdaq":"extended-hours","nyse":"extended-hours","otc":"extended-hours"},"indicesGroups":{"s_and_p":"closed","societe_generale":"closed","msci":"closed","ftse_russell":"closed","mstar":"closed","mstarc":"closed","cccy":"open","cgi":"closed","nasdaq":"closed","dow_jones":"closed"},"market":"extended-hours","serverTime":"2025-11-28T13:25:13-05:00"}'
  recorded_at: Fri, 28 Nov 2025 18:25:13 GMT
recorded_with: VCR 5.1.0
