---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v1/marketstatus/upcoming?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
    body:
      encoding: ASCII-8BIT
      string: '[{"close":"2025-11-28T18:00:00.000Z","date":"2025-11-28","exchange":"NYSE","name":"Thanksgiving","open":"2025-11-28T14:30:00.000Z","status":"early-close"},{"close":"2025-11-28T18:00:00.000Z","date":"2025-11-28","exchange":"NASDAQ","name":"Thanksgiving","open":"2025-11-28T14:30:00.000Z","status":"early-close"},{"close":"2025-12-24T18:00:00.000Z","date":"2025-12-24","exchange":"NASDAQ","name":"Christmas","open":"2025-12-24T14:30:00.000Z","status":"early-close"},{"close":"2025-12-24T18:00:00.000Z","date":"2025-12-24","exchange":"NYSE","name":"Christmas","open":"2025-12-24T14:30:00.000Z","status":"ear[...]
