---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v2/reference/markets?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","results":[{"market":"STOCKS","desc":"Stocks / Equities
        / ETFs"},{"market":"INDICES","desc":"Indices"},{"market":"MF","desc":"Mutual
        Funds"},{"market":"MMF","desc":"Money Market Funds"},{"market":"CRYPTO","desc":"Crypto"},{"market":"FX","desc":"Forex
        / Currencies"},{"market":"BONDS","desc":"Bonds"}]}'
  recorded_at: Fri, 28 Nov 2025 18:25:12 GMT
recorded_with: VCR 5.1.0
