---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v2/reference/splits/AAPL?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
      x-polygon-deprecated-new-location:
      - https://polygon.io/docs/stocks/get_v3_reference_splits
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","count":4,"results":[{"ticker":"AAPL","exDate":"2020-08-31","paymentDate":"2020-08-28","declaredDate":"2020-07-30","ratio":0.25,"tofactor":1,"forfactor":4},{"ticker":"AAPL","exDate":"2014-06-09","paymentDate":"2014-06-10","ratio":0.14285714285714285,"tofactor":1,"forfactor":7},{"ticker":"AAPL","exDate":"2005-02-28","paymentDate":"2005-02-28","ratio":0.5},{"ticker":"AAPL","exDate":"2000-06-21","paymentDate":"2000-06-21","ratio":0.5}]}'
  recorded_at: Fri, 28 Nov 2025 18:25:19 GMT
recorded_with: VCR 5.1.0
