---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v1/last/stocks/AAPL?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-polygon-cluster-name:
      - polygon-ny5
      x-polygon-deprecated-new-location:
      - https://polygon.io/docs/stocks/get_v2_last_trade__stocksticker
    body:
      encoding: UTF-8
      string: '{"last":{"cond1":12,"cond2":37,"cond3":41,"exchange":8,"price":278.28,"size":1,"timestamp":1764355760043},"request_id":"4420d0c9db6f41bd1ca43543478d6704","status":"DELAYED","symbol":"AAPL"}'
  recorded_at: Fri, 28 Nov 2025 19:04:33 GMT
recorded_with: VCR 5.1.0
