---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v2/aggs/ticker/AAPL/range/1/day/2019-01-01/2019-02-01?apiKey=<API_KEY>&unadjusted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
    body:
      encoding: ASCII-8BIT
      string: '{"status":"NOT_AUTHORIZED","request_id":"d35cc5bf7e2087a5f13bd7b178b35d05","message":"Your
        plan doesn''t include this data timeframe. Please upgrade your plan at https://polygon.io/pricing"}'
  recorded_at: Fri, 28 Nov 2025 18:25:14 GMT
recorded_with: VCR 5.1.0
