---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v2/ticks/stocks/trades/AAPL/2020-04-20?apiKey=<API_KEY>&limit=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"NOT_AUTHORIZED","request_id":"315712c1aab1ac6d84b3efe30fba3f86","message":"You
        are not entitled to this data. Please upgrade your plan at https://polygon.io/pricing"}'
  recorded_at: Fri, 28 Nov 2025 18:25:14 GMT
recorded_with: VCR 5.1.0
