---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v1/open-close/AAPL/2018-03-02?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
    body:
      encoding: ASCII-8BIT
      string: '{"status":"NOT_AUTHORIZED","request_id":"c32855b6b7f441554e43d207e5b41bd1","message":"Attempted
        to request data past historical entitlements. Please upgrade your plan at
        https://polygon.io/pricing"}'
  recorded_at: Fri, 28 Nov 2025 18:25:14 GMT
recorded_with: VCR 5.1.0
