---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v2/snapshot/locale/us/markets/stocks/tickers/AAPL?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":{"ticker":"AAPL","todaysChangePerc":0.46838407494145606,"todaysChange":1.3000000000000114,"updated":1764353416872872458,"day":{"o":277.26,"h":279,"l":275.9865,"c":278.85,"v":1.8978504e+07,"vw":277.5622},"min":{"av":1.8976785e+07,"t":1764353340000,"n":36,"o":278.71,"h":278.78,"l":278.71,"c":278.78,"v":4718,"vw":278.7709},"prevDay":{"o":276.96,"h":279.53,"l":276.63,"c":277.55,"v":3.3373748e+07,"vw":278.0461}},"status":"OK","request_id":"74e860fafcc5a4a89bf8df080c0b8ea4"}'
  recorded_at: Fri, 28 Nov 2025 18:25:17 GMT
recorded_with: VCR 5.1.0
