---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v2/aggs/ticker/AAPL/range/1/day/2019-01-01/2019-02-01?apiKey=<API_KEY>&unadjusted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"AAPL","queryCount":22,"resultsCount":22,"adjusted":true,"results":[{"v":1.48158948e+08,"vw":38.8871,"o":38.7225,"c":39.48,"h":39.7125,"l":38.5575,"t":1546405200000,"n":249129},{"v":3.6524878e+08,"vw":35.895,"o":35.995,"c":35.5475,"h":36.43,"l":35.5,"t":1546491600000,"n":663513},{"v":2.3428428e+08,"vw":36.7049,"o":36.1325,"c":37.065,"h":37.1375,"l":35.95,"t":1546578000000,"n":376070},{"v":2.19111056e+08,"vw":36.8423,"o":37.175,"c":36.9825,"h":37.2075,"l":36.475,"t":1546837200000,"n":348120},{"v":1.64101256e+08,"vw":37.5382,"o":37.39,"c":37.6875,"h":37.955,"l":37.13,"t":1546923600000,"n"[...]
