---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v1/open-close/AAPL/2018-03-02?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","from":"2018-03-02","symbol":"AAPL","open":43.2,"high":44.075,"low":43.1125,"close":44.0525,"volume":1.538158e+08,"afterHours":44.0125,"preMarket":43.5925}'
  recorded_at: Fri, 28 Nov 2025 19:04:31 GMT
recorded_with: VCR 5.1.0
