---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v2/aggs/ticker/AAPL/prev?apiKey=<API_KEY>&unadjusted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"AAPL","queryCount":1,"resultsCount":1,"adjusted":true,"results":[{"T":"AAPL","v":3.3373748e+07,"vw":278.0461,"o":276.96,"c":277.55,"h":279.53,"l":276.63,"t":1764190800000,"n":538200}],"status":"OK","request_id":"fb72eadefbd8b92bfecc4c35b68b292d","count":1}'
  recorded_at: Fri, 28 Nov 2025 18:25:14 GMT
recorded_with: VCR 5.1.0
