---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v2/snapshot/locale/us/markets/stocks/gainers?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
    body:
      encoding: ASCII-8BIT
      string: '{"tickers":[{"ticker":"SMXWW","todaysChangePerc":430.9734513274337,"todaysChange":0.1461,"updated":1764353400000000000,"day":{"o":0.0505,"h":0.1899,"l":0.05,"c":0.145,"v":1.817097e+06,"vw":0.1123},"min":{"av":1.817097e+06,"t":1764353340000,"n":3,"o":0.18,"h":0.18,"l":0.18,"c":0.18,"v":119,"vw":0.18},"prevDay":{"o":0.0194,"h":0.04,"l":0.0192,"c":0.0339,"v":388330,"vw":0.03253}},{"ticker":"SMX","todaysChangePerc":327.98850574712645,"todaysChange":57.07,"updated":1764353414939691325,"day":{"o":33.5,"h":63.88,"l":29.8906,"c":61.04,"v":2.0944965e+07,"vw":44.2964},"min":{"av":2.0944652e+07,"t":1764353340000,"n":1725,"o":70,"h":74.221,"l":70,"c":74,"v":45597,"vw":72.3237},"prevDay":{"o":5.94,"h":17.4,"l":5.91,"c":17.4,"v":2.2826665e+07,"vw":14.0205}},{"ticker":"USARW","todaysChangePerc":103.030303030303,"to[...]
