---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v1/meta/exchanges?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
      x-polygon-deprecated-new-location:
      - https://polygon.io/docs/stocks/get_v3_reference_exchanges
    body:
      encoding: ASCII-8BIT
      string: '[{"id":0,"type":"TRF","market":"equities","mic":"TFF","name":"Multiple","tape":"-"},{"id":1,"type":"exchange","market":"equities","mic":"XASE","name":"NYSE
        American (AMEX)","tape":"A","code":"AMX"},{"id":2,"type":"exchange","market":"equities","mic":"XNAS","name":"NASDAQ
        OMX BX","tape":"B","code":"NSD"},{"id":3,"type":"TRF","market":"equities","name":"National
        Stock Exchange","mic":"XCIS","tape":"C"},{"id":4,"type":"TRF","market":"equities","mic":"FINR","name":"FINRA","tape":"D"},{"id":5,"type":"TRF","market":"equities","mic":"CQS","name":"Consolida[...]
