---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v1/last/stocks/AAPL?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"NOT_AUTHORIZED","request_id":"07ef616509fdc281b87f1ff2e114b92e","message":"You
        are not entitled to this data. Please upgrade your plan at https://polygon.io/pricing"}'
  recorded_at: Fri, 28 Nov 2025 18:25:13 GMT
recorded_with: VCR 5.1.0
