---
http_interactions:
- request:
    method: get
    uri: https://api.massive.com/v2/reference/types?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-polygon-cluster-name:
      - polygon-ny5
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","results":{"types":{"CS":"Common Stock","BOND":"Bond","BASKET":"Basket","ADRC":"American
        Depository Receipt Common","ADRP":"American Depository Receipt Preferred","ADRW":"American
        Depository Receipt Warrant","ADRR":"American Depository Receipt Right","NVDR":"Non-Voting
        Depository Receipt","GDR":"Global Depositary Receipt","SDR":"Special Drawing
        Right","CEF":"Closed-End Fund","ETP":"Exchange Traded Product/Fund","REIT":"Real
        Estate Investment Trust","MLP":"Master Limited Partnership","WRT":"Equity
        WRT","PUB":"Public","NYRS":"New York Registry Shares","UNIT":"Unit","RIGHT":"Right","TRAK":"Tracking
        stock or targeted stock","LTDP":"Limited Partnership","RYLT":"Royalty Trust","MF":"Mutual
        Fund","PFD":"Preferred Stock","FDR":"Foreign Ordinary Shares","OST":"Other
        Security Type","FUND":"Fund","SP":"Structured Product","SI":"Secondary Issue","WARRANT":"Warrant"},"indexTypes":{"INDEX":"Index","ETF":"Exchange
        Traded Fund (ETF)","ETN":"Exchange Traded Note (ETN)","ETMF":"Exchange Traded
        Managed Fund (ETMF)","SETTLEMENT":"Settlement","SPOT":"Spot","SUBPROD":"Subordinated
        product","WC":"World Currency","ALPHAINDEX":"Alpha Index"}}}'
  recorded_at: Fri, 28 Nov 2025 18:25:13 GMT
recorded_with: VCR 5.1.0
